Repository mo-perceptis/test-alembic-validation: changes, and which pre-commit hooks are due for each by the changed paths.
All: alembic-check, alembic-autogenerate-check

alembic-check:
  name: Check Alembic migrations
  entry: python -m alembic check
  language: system
  pass_filenames: false

alembic-autogenerate-check:
  name: Check for pending migrations
  entry: bash -c 'cd server && python -m alembic revision --autogenerate --dry-run | grep -q "No changes in schema detected" || (echo "Pending migrations detected! Run alembic revision --autogenerate" && exit 1)'
  language: system
  pass_filenames: false

Added initial files to test the hook
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  README.md
  server/README.md
  server/alembic/README
  server/alembic/__pycache__/env.cpython-312.pyc
  server/alembic/versions/20250913_0554_9389b9b87dd7_initial_migration_with_users_and_posts_.py
  server/alembic/versions/20250913_0601_2036c8e50052_second_migration_add_email_verification.py
  server/alembic/versions/20250913_0601_cb31ca0c8bc5_third_migration_add_user_preferences_.py
  server/alembic/versions/20250913_0603_3cef0dfa8e18_merge_multiple_heads.py
  server/alembic/versions/__pycache__/20250913_0554_9389b9b87dd7_initial_migration_with_users_and_posts_.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0554_9389b9b87dd7_initial_migration_with_users_and_posts_.cpython-313.pyc
  server/alembic/versions/__pycache__/20250913_0601_2036c8e50052_second_migration_add_email_verification.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0601_2036c8e50052_second_migration_add_email_verification.cpython-313.pyc
  server/alembic/versions/__pycache__/20250913_0601_cb31ca0c8bc5_third_migration_add_user_preferences_.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0601_cb31ca0c8bc5_third_migration_add_user_preferences_.cpython-313.pyc
  server/alembic/versions/__pycache__/20250913_0603_3cef0dfa8e18_merge_multiple_heads.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0603_3cef0dfa8e18_merge_multiple_heads.cpython-313.pyc
  server/app/core/__pycache__/config.cpython-312.pyc
  server/app/core/config.py
  server/core/__pycache__/models.cpython-312.pyc
  server/core/models.py
  server/poetry.lock
  server/pyproject.toml
  test-workflow.sh
Due: alembic-check, alembic-autogenerate-check

Update Poetry lock file and remove pre-commit dependencies
  README.md
  server/alembic/versions/__pycache__/20250913_0554_9389b9b87dd7_initial_migration_with_users_and_posts_.cpython-313.pyc
  server/alembic/versions/__pycache__/20250913_0601_2036c8e50052_second_migration_add_email_verification.cpython-313.pyc
  server/alembic/versions/__pycache__/20250913_0601_cb31ca0c8bc5_third_migration_add_user_preferences_.cpython-313.pyc
  server/alembic/versions/__pycache__/20250913_0603_3cef0dfa8e18_merge_multiple_heads.cpython-313.pyc
  server/poetry.lock
Due: none

Updated pr validation
  .github/workflows/pr-validation.yml
Due: none

Add migration that creates multiple heads - should fail PR validation
  .gitignore
  server/alembic/versions/20250913_0626_8d81a10d0a44_add_user_profile_table_creates_multiple_.py
  server/alembic/versions/__pycache__/20250913_0554_9389b9b87dd7_initial_migration_with_users_and_posts_.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0601_2036c8e50052_second_migration_add_email_verification.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0601_cb31ca0c8bc5_third_migration_add_user_preferences_.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0603_3cef0dfa8e18_merge_multiple_heads.cpython-312.pyc
Due: alembic-check

fixed alembic revision
  server/alembic/versions/20250913_0626_8d81a10d0a44_add_user_profile_table_creates_multiple_.py
Due: alembic-check

updated workflow
  .github/workflows/pr-validation.yml
Due: none

Updated pr validation
  .github/workflows/pr-validation.yml
  .gitignore
Due: none

Updated the path for pr validation
  .github/workflows/pr-validation.yml
Due: none

small change test (no alembic change)
  server/alembic/env.py
Due: none

changed alembic
  server/alembic/versions/20250913_0626_8d81a10d0a44_add_user_profile_table_creates_multiple_.py
Due: alembic-check

updated pr validation
  .github/workflows/pr-validation.yml
Due: none

fixed alembic
  server/alembic/versions/20250913_0626_8d81a10d0a44_add_user_profile_table_creates_multiple_.py
Due: alembic-check

removed branches in pr validation
  .github/workflows/pr-validation.yml
Due: none

Add migration that creates multiple heads - should fail PR validation
  server/alembic/versions/20250913_0626_8d81a10d0a44_add_user_profile_table_creates_multiple_.py
  server/alembic/versions/__pycache__/20250913_0554_9389b9b87dd7_initial_migration_with_users_and_posts_.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0601_2036c8e50052_second_migration_add_email_verification.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0601_cb31ca0c8bc5_third_migration_add_user_preferences_.cpython-312.pyc
  server/alembic/versions/__pycache__/20250913_0603_3cef0dfa8e18_merge_multiple_heads.cpython-312.pyc
Due: alembic-check

Path conditions:
  alembic-check: any of: ^server/alembic/versions/.*\.py$
  alembic-autogenerate-check: any of: ^server/core/models\.py$
